.player-area{
    border: 1px solid lightgray;
    box-shadow: 10px 10px 40px gray;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}